*{
  padding: 0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.main-container{
  min-height: 70vh;
}

.tittle{
  align-items: center;
  padding-left: 30%;
}

*{
  padding: 0;
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.main-container{
  min-height: 70vh;
}